.app-container {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  /* border: 1px solid white; */
}

.app-container .content {
  position: relative;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(
      0deg,
      var(--overlay__black__90),
      var(--overlay__black__90)
    ),
    url(https://images.pexels.com/photos/3921045/pexels-photo-3921045.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);

  z-index: 1;
  /* border: 1px solid blue; */
}

.app-container .content .movie {
  position: relative;
  aspect-ratio: 3/4;
  width: 450px;
  height: 600px;
  /* background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%); */
  background: linear-gradient(
      0deg,
      var(--overlay__black__90),
      var(--overlay__black__90)
    ),
    url(https://images.pexels.com/photos/3921045/pexels-photo-3921045.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

.app-container .content .movie .movie__poster {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* .app-container .content .movie .movie__poster__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: 0;
} */

/* .app-container .content .movie .info {
  position: absolute;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  width: 20em;
  height: 6em;

  font-size: 20px;
  font-family: 'Raleway', sans-serif;

  color: white;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.app-container .content .movie:hover .info {
  display: flex;
} */

/* .app-container .content .movie .info .title {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  word-break: break-all;
  word-wrap: normal;

  font-size: 20px;
  color: black;
  text-shadow: 0px 0px 3px white;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

.app-container .content .movie .info .year {
  font-size: 20px;
  color: black;
  text-shadow: 0px 0px 3px white;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

.app-container .content .movie .info .raiting {
  color: yellow;
} */

.app-container .about__movie {
  position: relative;
  display: none;

  width: 100vw;
  height: 100vh;

  color: white;
  z-index: 5;
}

.app-container .about__movie .home__btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 30px;
  right: 30px;

  width: 50px;
  height: 50px;

  font-size: 40px;

  transition: all 0.5s ease;

  z-index: 100;
}

.app-container .about__movie .home__btn .fa-house {
  display: flex;

  width: 100%;
  height: 100%;
  color: white;

  cursor: pointer;
}

.app-container .about__movie .home__btn:hover {
  transform: translateY(-5px);
}

.app-container .about__movie .information {
  position: relative;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-container .about__movie .about {
  position: relative;
  display: flex;

  grid-column: 1/2;
  grid-row: 1;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px;
}

.app-container .about__movie .about span {
  font-family: 'Raleway', sans-serif;
  margin-left: 10px;
}

.app-container .about__movie .about .title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}

.app-container .about__movie .about .year {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.app-container .about__movie .about .description {
  margin-top: 3em;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.app-container .about__movie .trailer-box {
  position: relative;
  display: flex;

  grid-column: 2/4;
  grid-row: 1;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-container .about__movie .trailer-box .trailer {
  position: relative;
  opacity: 0.8;
  transition: all 1s ease;
}

.app-container .about__movie .trailer-box .trailer:hover {
  opacity: 1;
}

.app-container .about__movie .trailer-box .trailer {
  width: 894px;
  height: 472px;
  border: none;
}

@media (max-width: 1300px) {
  .app-container .about__movie .information {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr);
  }

  .app-container .about__movie .about {
    grid-column: 1;
    grid-row: 1/2;
  }

  .app-container .about__movie .trailer-box {
    grid-column: 1;
    grid-row: 2/4;
  }
}

@media (max-width: 1000px) {
  .app-container .about__movie .trailer-box .trailer {
    width: 490px;
    height: 270px;
  }

  .app-container .about__movie .about .title {
    font-size: 25px;
  }

  .app-container .about__movie .about .year {
    font-size: 20px;
  }

  .app-container .about__movie .about .description {
    font-size: 20px;
  }
}
